<div class="cont_descrip">
    <div>

    </div>
    <div class="descrip">
        <div class="descrip__info">
            <div class="cont_img_portada">
                <img class="img_portada" [src]="img_portada" alt="">
            </div>

            <div class="cont_foto_perfil">
                <img class="foto_perfil" [src]="img_perfil" alt="">
                <!-- <img class="btn_editar" [src]="img_editar" alt=""> -->
            </div>
            <div class="descrip__datos_personales">
                <div>
                    <!-- <h5>Serrudo Jose Nahuel {{persona.nombre}}</h5> -->
                    <h5>{{persona?.apellido}} {{persona?.nombre}}</h5>
                    <p>Ing. Informatico en UCASAL</p>
                    <p>Salta-Argentina</p>

                </div>


                <div class="cont_btns_acciones">
                    <!-- <div class="cont_btns_acciones">
                        <button class="btn btn_accion btn-primary">Tengo Interés en</button>
                        <button class="btn btn_accion">Añadir Sección</button>
                        <button class="btn btn_accion">Más</button>
                    </div> -->
                    <div class="descrip__estudios">
                        <img class="img_estudio" [src]="img_ucasal" alt="">
                        <img src="" alt="">
                    </div>
                </div>

            </div>



        </div>

    </div>
</div>
