<div class="nav">
    <h5 class="txt_nom">Serrudo Jose Nahuel</h5>
    <div class="nav__icons_btn">
        <img src="/assets/insta.png" class="logo_redes" alt="">
        <img src="/assets/facebook.png" class="logo_redes" alt="">
        <img src="/assets/linkedin.png" class="logo_redes" alt="">
        <button class="btn_login" (click)="login()" *ngIf="!isLogged">Iniciar Sesion</button>
        <button class="btn_login" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>

    </div>

</div>
