<div class="nav">
    <!-- <h5 class="txt_nom">Serrudo Jose Nahuel</h5> -->
    <img src="/assets/APLogo.png" class="logo_ap" alt="">
    <div class="nav__icons_btn">
      <a href="https://www.instagram.com/jnserrudo6/" target="_blank"><img src="/assets/insta.png" class="logo_redes" alt=""></a>
      <a href="https://www.facebook.com/josenahuel.serrudo" target="_blank"><img src="/assets/facebook.png" class="logo_redes" alt=""></a>
      <a href="https://www.linkedin.com/in/jnserrudo/" target="_blank"><img src="/assets/linkedin.png" class="logo_redes" alt=""></a>
      <a href="https://github.com/jnserrudo" target="_blank"><img src="/assets/github.png" class="logo_redes" alt=""></a>

        <button class="btn_login" (click)="login()" *ngIf="!isLogged">Iniciar Sesion</button>
        <button class="btn_login" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>

    </div>

</div>
