:root{
    --celeste:#3498DB;
    --verde:#28B463;
    --blanco:#E5E8E8;
    --gris:#95A5A6;
    --negro:#1B2631

}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
p{
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}
.nav{
    background-color: var(--negro);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}
.txt_nom{
    color: var(--blanco);
}

.txt_celeste{
    color: var(--celeste);
}
.btn_login{
    border-radius: 5px;
    border: 2px var(--verde) solid;
    background-color: transparent;
    color: var(--verde);
}
.descrip__datos_personales,.cont_btns_acciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.descrip,.descrip__info,.cont_img_portada{
    width: 100%;

}
/* .descrip__info{
    position: relative;
} */

.cont_foto_perfil{
    position: relative;
    width: 200px;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_editar,.btn_agregar{
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.img_portada{
    width: 100%;
    height:250px ;
    object-fit: cover;
}

.foto_perfil{
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px black solid;
}

.btn_accion{
    border: 2px var(--gris) solid;
    height: 40px;
}

.img_estudio{
    width: 200px;
}
.logo{
    width: 80px;
    height: 80px;
}
.logo_redes{
    width: 50px;
    height: 50px;
}
.logo_ap{
  width: 300px;
  height: 90px;
}

.acerca{
    display: flex;
    justify-content: space-between;
    padding: 0 20px
}
.cont_encabezado,.proyecto,.skill{
    display: flex;
    padding: 5px;

}
.cont_encabezado{
    width:500px
}

.cont_encabezado_proyecto{
    width:95%
}


.barra_progreso{
    width: 1000px;
    border: 0.5px black solid;

}

.skill_info{
    margin: 5px;
    padding-left: 100px;
}

.cont_skills,.cont_proyectos{
    /* border: 0.1px var(--gris) solid; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;

}

.proyecto_info,.skills_info{
    padding: 0px 30px;

}
.skill_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_experiencia_educacion{
    display: flex;
    justify-content:space-between;
}
.cont_experiencia,.cont_educacion{
    /* border: 0.1px var(--gris) solid; */
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}
.experiencia,.educacion{
    width: 600px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
}
.logo_experiencia,.experiencia,.acciones,.logo_educacion,.educacion{
    display: flex;
    justify-content: space-between;
}
.acciones{
  width: 75px;
}
/* You can add global styles to this file, and also import other style files */


/*-----------------Ventanas emergentes------------------*/
.reg{
    border: 2px rgb(46, 111, 250) solid ;
    /* width: 320px ; */
    /* margin-right: 80px;
    margin-left: auto; */
    background: rgba(5, 8, 14, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    visibility: hidden;
}

.activar{
    visibility: visible;
}


.cont_vent{
    background: #F8F8F8;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 500px;
    /* opacity: 0; */

	/* transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0; */
}


.icono_cerrar{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/*ventana experiencia*/

.ventana_experiencia,.ventana_experiencia{
    width: 800px;
    height: 500px;

}


.ventana_lugar{
    height: 250px;
}


.ventana_eliminar,.ventana_tecnologias{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.vent_titulo{
    display: flex;
    justify-content: space-between;
}

.vent_descrip{
    display: flex;
    justify-content: space-between;

}
.vent_descrip__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 400px;
}

.vent_btns{
    display: flex;
    justify-content: space-around;
}


.clase_vent_elim{
  visibility: hidden;
}


/*-----------------Ventanas emergentes------------------*/



/* LOGIN */

.login{
  background-image: url('/assets/fondo.png');
  background-repeat: no-repeat;
  background-size:cover ;
  animation: efecto 6s infinite alternate linear;
  height: 100vh;
}
@keyframes efecto {
  100%{
    background-position: 15% 50%;
  }
}
.tarjeta_login{
  height: 400px;
  background-image: url('/assets/login.png');
  background-repeat: no-repeat;
  background-size:cover ;
  animation: efecto 6s infinite alternate linear;
}
