<div class="educacion">
    <div class="logo_educacion">
        <img class="logo" [src]="url_logo" alt="">
        <div class="educacion__info">
            <h6>{{nom_educacion}}</h6>
            <p>{{nom_institucion}}</p>
            <p>{{fecha_desde}}-{{fecha_hasta}}</p>
            <p>{{domicilio}}</p>
        </div>
    </div>
    
    <div class="acciones">
        <img class="btn_editar" src="/assets/editar.png" alt="">
        <img class="btn_editar" src="/assets/borrar.png" alt="">
    </div>
</div>